@model ListViewModel

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Search">
            <label for="category" class="control-label"></label>
            @Html.DropDownList("category", new SelectList(Model.CategoryList), "Select category", new { @class = "form-control" })
            <label for="productName" class="control-label"></label>
            <input type="text" class="form-control" name="productName" />
            <input type="submit" class="btn btn-primary mt-2 mb-2" value="testar"/>            
        </form>
    </div>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<partial name="ProductListPartial" model="@Model.ProductList" />